.idea/

venv/

.DS_Store

events/*/

*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
*/*/*/*/*/*/__pycache__/
*/*/*/*/*/*/*/__pycache__/
*/*/*/*/*/*/*/*/__pycache__/
*/*/*/*/*/*/*/*/*/__pycache__/
*/*/*/*/*/*/*/*/*/*/__pycache__/